/*MUDA logo Color Scheme */
:root {
    --teal: #00b2a9;
    --dark_blue: #0c2340;
    --red: #e43c40;
    --white: #ffffff;
}

body {
}

.form-control {
    border-radius: 5px;
    border: 2px solid #0c2340;
}

.form-control:focus {
    /*border-radius: 5px;*/
    border: 2px solid #0c2340;
    box-shadow: 0px 0px 10px #0c2340;
}

.btn-primary {
    border: 2px solid #0c2340;
    background-color: #00b2a9;
}

.btn-primary:hover {
    background-color: #0c2340;
    border: 2px solid #0c2340;
}


